*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-image: url(images/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;}
.welcome{
    font-size: 30px;
    position: absolute;
    left: 29%;
    top: 25%;
}
.container{
    position: absolute;
    padding-left:5px ;
    padding-right: 10px;
    left: 37.5%;
    top: 36%;
    border-radius: 10px;
    border: 0.2px solid black;
    background:  lightgray ;
    opacity: 0.93;
    width: 250px;
    height: 320px;
}
.container h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.container .forms .placeholder{
    width: 100%;
    height:30px;
    border-radius: 10px;
    border: 1px solid rgb(141, 140, 140);
    margin-bottom:15px ;
}
.container .forms h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.container .forms .button{
    font-size: 15px;
    color: rgb(0, 0, 105);
    margin-left: 35%;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(192, 190, 190);
}
.donot{
    text-align: center;
    margin-top:20px ;
}
.donot a{
    text-decoration: none;
    font-weight: 600;
}
.donot span{
    color: black;
}
